<%= turbo_frame_tag dom_id(tweet_presenter.tweet) do %>
  <div class="custom-tweet d-flex py-3 px-3">
    <% if tweet_presenter.user.present? && tweet_presenter.user.avatar.present? %>
      <div class="flex-shrink-0">
        <%= image_tag tweet_presenter.user.avatar, size: "48x48", class: "rounded-circle" %>
      </div>
    <% else %>
      <div class="flex-shrink-0">
        <%= image_tag 'twitter.png',  size: "48x48", class: "rounded-circle" %> <!-- Ảnh mặc định -->
      </div>
    <% end %>
    <div class="flex-grow-1 ms-3">
      <p class="mb-0">
        <span class="fw-bolder"><%= tweet_presenter.user.display_name %>
        </span>
        <span class="text-muted">@<%= tweet_presenter.user.username %> ·
          <%= tweet_presenter.created_at %>
        </span>
      </p>
      <p> <%= tweet_presenter.body %></p>


    <div class="d-flex justify-content-between align-items-center action_links">
    <!--VIEWS-->
      <div>
        <%= link_to "#", class: "text-decoration-none text-black views" do %>
        <%= image_tag "graph.png",size: "20x20", class:"me-1" %>
          <span>Views</span>
        <% end %>
      </div>
    <!--REPLIES-->
      <div>
        <%= link_to "#", class: "text-decoration-none text-black replies" do %>
          <%= image_tag "speech-bubble.png",size: "20x20", class:"me-1" %>
          <span>REPLIES</span>
        <% end %>
      </div>
    <!--RETWEETS-->
      <div>
        <%= link_to "#", class: "text-decoration-none text-black retweets" do %>
          <%= image_tag "repost.png",size: "20x20", class:"me-1" %>
          <span>RETWEETS</span>
        <% end %>
      </div>
      <!--LIKES-->

<!--      // tweet_presenter ở đây có thể . likes là do có delegate ở class controller, không thì ta phải tweet_presenter.tweet.likes.includes-->
      <% if tweet_presenter.likes.include?(current_user.likes.find_by(tweet_id: tweet_presenter.tweet.id)) %>
        <div>
          <%= button_to tweet_like_path(tweet_presenter.tweet, tweet_presenter.tweet.likes.find_by(user: current_user)), method: :delete, data: { turbo_method: :delete }, class: "text-decoration-none text-black likes shadow-none border-0 bg-transparent" do %>
            <%= image_tag "heart_red.png", size: "20x20", class: "me-1" %>
            <span><%= tweet_presenter.likes.size %></span>
          <% end %>
        </div>
      <%else %>
        <div>
          <%= button_to tweet_likes_path(tweet_presenter.tweet),method: :post, data: { turbo_method: :post }, class: "text-decoration-none text-black likes  shadow-none border-0 bg-transparent  " do  %>
              <%= image_tag "heart_unfilled.png",size: "20x20", class:"me-1" %>
            <span><%= tweet_presenter.likes.size %></span>
          <% end %>
        </div>
      <% end %>


      <!--BOOKMARK-->
      <div>
        <%= link_to "#", class: "text-decoration-none text-black bookmark" do  %>
          <%= image_tag "bookmark-white.png",size: "20x20", class:"me-1" %>
          <span>BOOKMARK</span>
        <% end %>
      </div>


      

    </div>
    </div>
  </div>
<% end %>
