<%= turbo_frame_tag dom_id(tweet_presenter.tweet) do %>
  <div class="custom-tweet d-flex py-3 px-3">
    <% if tweet_presenter.user.present? && tweet_presenter.user.avatar.present? %>
      <div class="flex-shrink-0">
        <%= image_tag tweet_presenter.user.avatar, size: "48x48", class: "rounded-circle" %>
      </div>
    <% else %>
      <div class="flex-shrink-0">
        <%= image_tag 'twitter.png',  size: "48x48", class: "rounded-circle" %> <!-- Ảnh mặc định -->
      </div>
    <% end %>
    <div class="flex-grow-1 ms-3">
      <p class="mb-0">
        <span class="fw-bolder"><%= tweet_presenter.user.display_name %>
        </span>
        <span class="text-muted">@<%= tweet_presenter.user.username %> ·
          <%= tweet_presenter.created_at %>
        </span>
      </p>
      <p> <%= tweet_presenter.body %></p>


    <div class="d-flex justify-content-between align-items-center action_links">
    <!--VIEWS-->
      <div>
        <%= link_to "#", class: "text-decoration-none text-black views" do %>
        <%= image_tag "graph.png",size: "20x20", class:"me-1" %>
          <span>Views</span>
        <% end %>
      </div>
    <!--REPLIES-->
      <div>
        <%= link_to "#", class: "text-decoration-none text-black replies" do %>
          <%= image_tag "speech-bubble.png",size: "20x20", class:"me-1" %>
          <span>REPLIES</span>
        <% end %>
      </div>

    <!--RETWEETS-->
      <%= button_to tweet_presenter.retweet_tweet_url, method: tweet_presenter.method_retweet_return, data: tweet_presenter.turbo_retweet_data_method, class: "text-decoration-none text-black likes shadow-none border-0 bg-transparent" do %>
        <%= image_tag asset_path(tweet_presenter.retweet_image), size: "20x20", class: "me-1" %>
        <span><%= tweet_presenter.retweets_count %></span>
      <% end %>
      <!--LIKES-->

<!--      // tweet_presenter ở đây có thể . likes là do có delegate ở class controller, không thì ta phải tweet_presenter.tweet.likes.includes-->

      <%# if tweet_presenter.tweet_liked_by_current_user? %>
<!--        <div>-->
          <%#= button_to tweet_like_path(tweet_presenter.tweet, current_user.likes.find_by(tweet_id: tweet_presenter.tweet.id)), method: :delete, data: { turbo_method: :delete }, class: "text-decoration-none text-black likes shadow-none border-0 bg-transparent" do %>
            <%#= image_tag asset_path("heart_red.png"), size: "20x20", class: "me-1" %>
<!--            <span><%#= tweet_presenter.likes_count %></span>-->
          <%# end %>
<!--        </div>-->
      <%# else %>
<!--        <div>-->
          <%#= button_to tweet_likes_path(tweet_presenter.tweet), method: :post, data: { turbo_method: :post }, class: "text-decoration-none text-black likes shadow-none border-0 bg-transparent" do %>
            <%#= image_tag asset_path("heart_unfilled.png"), size: "20x20", class: "me-1" %>
<!--            <span><%#= tweet_presenter.likes_count %></span>-->
          <%# end %>
<!--        </div>-->
      <%# end %>
<!--      LIKES-->
      <%= button_to tweet_presenter.like_tweet_url, method: tweet_presenter.method_like_return, data: tweet_presenter.turbo_like_data_method, class: "text-decoration-none text-black likes shadow-none border-0 bg-transparent" do %>
        <%= image_tag asset_path(tweet_presenter.like_heart_image), size: "20x20", class: "me-1" %>
        <span><%= tweet_presenter.likes_count %></span>
      <% end %>

<!--      BOOKMARKS-->
      <%= button_to tweet_presenter.bookmark_tweet_url, method: tweet_presenter.method_bookmark_return, data: tweet_presenter.turbo_bookmark_data_method, class: "text-decoration-none text-black likes shadow-none border-0 bg-transparent" do %>
        <%= image_tag asset_path(tweet_presenter.bookmark_image), size: "20x20", class: "me-1" %>
        <span><%= tweet_presenter.bookmark_text %></span>
      <% end %>







      

    </div>
    </div>
  </div>
<% end %>
