<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Twitter" %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
<!--    <link rel="icon" href="https://www.google.com/imgres?q=twitter%20icon&imgurl=https%3A%2F%2Fcdn-icons-png.flaticon.com%2F512%2F124%2F124021.png&imgrefurl=https%3A%2F%2Fwww.flaticon.com%2Ffree-icon%2Ftwitter_124021&docid=vCzYvvD2eIXt4M&tbnid=IhQOFOWbjkVG3M&vet=12ahUKEwi4z7HruIOJAxV95DQHHVEnFlUQM3oECBkQAA..i&w=512&h=512&hcb=2&ved=2ahUKEwi4z7HruIOJAxV95DQHHVEnFlUQM3oECBkQAA" type="image/png">-->
<!--    <link rel="icon" href="https://www.google.com/imgres?q=twitter%20icon&imgurl=https%3A%2F%2Fcdn-icons-png.flaticon.com%2F512%2F124%2F124021.png&imgrefurl=https%3A%2F%2Fwww.flaticon.com%2Ffree-icon%2Ftwitter_124021&docid=vCzYvvD2eIXt4M&tbnid=IhQOFOWbjkVG3M&vet=12ahUKEwi4z7HruIOJAxV95DQHHVEnFlUQM3oECBkQAA..i&w=512&h=512&hcb=2&ved=2ahUKEwi4z7HruIOJAxV95DQHHVEnFlUQM3oECBkQAA" type="image/svg+xml">-->
<!--    <link rel="apple-touch-icon" href="twitter.png">-->
    <link rel="icon" href=
      "twitter.png"
          type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%#= yield %>
  <% if flash.any? %>
    <%= render "shared/flashes" %>
  <% end %>

  <% if user_signed_in? %>
  <% if controller_name == "usernames" %>
      <%=yield  %>
    <% else %>
      <div class="container py-2">
        <div class="row">
          <!--    SIDEBAR-->
          <%= render 'shared/sidebar' %>
          <!--      ADD ANOTHER LAYOUT HERE !-->
          <%=yield  %>
        </div>
      </div>
    <% end %>
    <%else %>
    <%= yield %>
  <% end %>

  </body>
</html>
